td {
    vertical-align: top;
}

ul {
  margin: auto;
}

.add-btn {
  width: 100%;
  margin-bottom: 40px;
  display: none;
}

.add-more-restrictions {
  display: none;
}

.add-more-discounts {
  display: none;
}

i {
  cursor: pointer;
  cursor: hand;
}
