
td {
    vertical-align: top;
}

ul {
  margin: auto;
}

body {
  background-color: #ECF0F1;
}

li {
  list-style: none;
}

nav ul a {
  color: black;
}

nav .brand-logo {
  margin-left: 11px;
}

i {
  cursor: pointer;
  cursor: hand;
}

.brand-logo {
  margin-top: 2px;
}

.hide-add-discount-form {
  cursor: pointer;
  cursor: hand;
}

.hide-add-restriction-form {
  cursor: pointer;
  cursor: hand;
}

#profile {
  margin-top: 10%;
}

.add-btn {
  width: 100%;
  margin-bottom: 40px;
  display: none;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.add-more-restrictions {
  display: none;
}

.add-more-discounts {
  display: none;
}

.modal {
  color: black;
}

.modal-action.modal-close.waves-effect.waves-green.btn-flat {
  color: white;
}

.btn.waves-effect.waves-light {
  background-color: white;
  color: black;
  margin-right: 24px;
}

.card .card-action a {
  color: #E74C3C;
}

.card .card-action a:hover {
  color: black;
}

.card.add-form {
  background-color: #2C3E50;
}

.modal-action.modal-close.waves-effect.waves-green.btn-flat {
  color: black;
}

.nav-wrapper {
  background-color: #E74C3C;
}

.card-content.white-text {
  background-color: #2C3E50;
}

.card-action {
  background-color: #2C3E50;
}

.waves-effect.waves-light.btn-large.go-back {
  background-color: white;
  color: black;
}
