td {
    vertical-align: top;
}

ul {
  margin: auto;
}

.add-btn {
  width: 100%;
  margin-bottom: 40px;
  display: none;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.add-more-restrictions {
  display: none;
}

.add-more-discounts {
  display: none;
}

i {
  cursor: pointer;
  cursor: hand;
}

#profile {
  margin-top: 10%;
}

.modal {
  color: black;
}

.modal-action.modal-close.waves-effect.waves-green.btn-flat {
  color: white;
}
