
<html>
<div class="row">
<% @companies.each do |company| %> 
<div class="col s3 offset-s2">
    <div class="card small hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="img/card.svg" height= "350px" width= "350px">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= company.company_name %><i class="material-icons right">more_vert</i></span>
      <p><a href="#">Company Info</a></p>
    </div>

    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= company.company_name %><i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
    </div>
  </div>
<% end %>
</div>
</html>




