<form method="post" action="/user/login">
  <label>Username:</label>
  <input type="text" name="username" value="<%= @user && @user.username %>">

  <label>Password:</label>
  <input type="password" name="password" value="<%= @user && @user.password %>">

  <input type="submit" value="Submit">
  <a href="/">Go back to Homepage</a>
</form>
