<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Discount Sharing</a>
    <ul id="nav-mobile" class="right">
      <% if session[:user_id] %>
        <li><a href="/user/logout">Logout</a></li>
      <% else %>
        <li><a href="user/login">Login</a></li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col s12 m3">
    <div class="card yellow darken-4">
      <div class="card-content white-text">
        <span class="card-title"><%= @user.username.capitalize %></span>
        <table>
          <thead>
            <tr>
              <th data-field="company">Company</th>
              <th data-field="Discount">Discount</th>
              <th data-field="Restrictions">Restrictions</th>
            </tr>
          </thead>

          <tbody>
            <% @user.discounts.each do |discount| %>
            <tr>
              <td><%= discount.company.company_name %></td>
              <td><%= discount.discount_percent %></td>
              <td><% if discount.restrictions.count >= 1 %>
                <% discount.restrictions.each do |restriction| %>
                  <%= restriction.description %>
                <% end %>
              <% end %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
